/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 #textAreaContainer {
   min-height: 60vh;
 }
.spinner-custom-color{
  border-color: #f1e6e5;
}
.loader {
  position: absolute;
  margin: auto;
  top: 50vh;
  bottom: 50vh;
  left: 0;
  right: 0;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.settingsList label {
	color: #fff;
}
.settingsList label::before {
	border-color: #fff;
	border-right-color: #fff;

}
 textarea{
      width: 100%;
      height: 80vh;
    }
    #logoimg{
      height: 90%;
      margin-top: 2px;
      margin-bottom: 2px;
    }
body{
	overflow-x: hidden;
}    

.ql-editor strong{
  font-weight:bold;
}
